<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="public/css/generic_style.css">
    <script src="public/js/hamburger.js" defer></script>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>CAR LISTING</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <img src="public/img/logo.svg" alt="logo" class="logo">
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="login">HOME</a></li>
                    <li><a href="about">ABOUT US</a></li>
                    <li><a href="carlisting">CAR LISTING</a></li>
                    <li><a href="contact">CONTACT US</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="heading-container">
        <p class="heading-text">Car Listing</p>
    </div>

    <div class="content-container">

    </div>

</body>