<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/hamburger.js" defer></script>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>CONTACT</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <img src="../img/logo.svg" alt="logo" class="logo">
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="login.html">HOME</a></li>
                    <li><a href="about.html">ABOUT US</a></li>
                    <li><a href="carlisting.html">CAR LISTING</a></li>
                    <li><a href="contact.html">CONTACT US</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="wide-container">
        <div class="slim-box">
            <div class="contact-container">
                <p class="heading-text">Contact Info</p>
                <p class="info-text">telephone<br><br>+48 655889221<br>+48 789951148</p>
                <p class="info-text">email<br><br>rentacar.info@rentacar.com</p>
                <p class="info-text">Rentacar Ltd.<br>Address Street<br>zip-code, City</p>
            </div>
        </div>
        <div class="fat-box">
            <div class="form-container">
                <p class="heading-text">Have a question?</p>
                    <form class="contact-form">
                        <input class="name-box" name="name" type="text" placeholder="name">
                        <input class="surname-box" name="surname" type="text" placeholder="surname">
                        <input class="email-box" name="email" type="email" placeholder="email">
                        <input class="phone-box" name="phone-number" type="text" placeholder="phone number">
                        <textarea class="message-box" name="message" placeholder="message"></textarea>
                        <button class="send-button">SEND</button>
                    </form>
            </div>
        </div>
    </div>
</body>
