<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="public/css/generic_style.css">
    <script src="public/js/hamburger.js" defer></script>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>MAIN PAGE</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <img src="public/img/logo.svg" alt="logo" class="logo">
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="login">HOME</a></li>
                    <li><a href="about">ABOUT US</a></li>
                    <li><a href="carlisting">CAR LISTING</a></li>
                    <li><a href="contact">CONTACT US</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="login-box">
            <div class="login-container">
                <p class="heading-text">Login</p>
                <form>
                    <input name="email" type="text" placeholder="email address">
                    <input name="password" type="password" placeholder="password">
                    <button class="login">Login</button>
                </form>
                <p>Don't have an account?<br>
                    <a class="link" href="register.html">Sign up</a>
                </p>
                <a class="link" href="#">Forgot password?</a>
            </div>
        </div>
        <div class="info-box">
            <div class="read-more">
                <p class="heading-text">FIND THE RIGHT CAR FOR YOU!</p>
                <button class="rd-more">Read more</button>
            </div>
        </div>
    </div>


</body>
