<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/hamburger.js" defer></script>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>REGISTER</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <img src="../img/logo.svg" alt="logo" class="logo">
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="login.html">HOME</a></li>
                    <li><a href="about.html">ABOUT US</a></li>
                    <li><a href="carlisting.html">CAR LISTING</a></li>
                    <li><a href="contact.html">CONTACT US</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="register">
            <p class="heading-text">Register</p>
            <form>
                <input name="full-name" type="text" placeholder="full name" required>
                <input name="phone-number" type="text" placeholder="phone number" required>
                <input name="email" type="text" placeholder="email address" required>
                <input name="password" type="password" placeholder="password" required>
                <input name="conf-password" type="password" placeholder="confirm password" required>
                <div class="checkbox-container">
                    <input class="checkbox" id="tos" name="tos" type="checkbox" required>
                    <label for="tos">I agree with
                        <a class="link" href="#">Terms and Conditions</a>
                    </label>
                </div>
                <button class="signup">Sign up</button>
                <p>Already have an account?
                    <a class="link" href="login.html">Login</a></p>

            </form>
        </div>
    </div>
</body>
