.cars-container {
    background: rgba(255, 255, 255, 0.84) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    margin: 1rem 1.5rem 0.75rem 1.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.6rem;
    overflow: auto;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar > input {
    text-align: center;
    padding: 0;
}

.car-name {
    font-size: 1.3rem;
    font-weight: bold;
}

.cars-container > div {
    background: rgba(255, 255, 255, 0.95) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    height: auto;
    width: 20rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car-image {
    border: 1px solid #707070;
    height: auto;
    width: 100%;
}

button.rent {
    width: 50%;
    line-height: 1.8rem;
    font-size: 1.4rem;
}